/* 
    Document   : feedback
    Created on : Sep 28, 2013, 10:40:18 PM
    Author     : rajgaurav
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}
input.text{
  width:18.5rem;
}
#feedbackform {
  border : .5rem solid #f2faf2;
  width: 29rem;
  margin: auto;
  margin-top:1rem; 
  padding: 1rem;
}
table{
/*  border: 1px solid blue;*/
  width: 100%;
}
table th{
  background-color:#033300;
  color: white;
}
.feedback{
  width:50%;
}
.feedmsg{
    border: .5rem solid #033300;
    border-radius: 0rem 3rem 0rem 0rem;
    padding: 1rem;
    margin: 1rem;
}
.feedmsg:nth-child(even){
    background-color:#FFFFFF;
}
.feedmsg:nth-child(odd){
    background-color: #D1E8D6;
}

.feedmsg p{
    padding: 0;
    margin: 0;
}
