/* 
    Document   : registration
    Created on : Oct 21, 2013, 10:14:24 PM
    Author     : rajgaurav
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

