/*  Document   : style
    Created on : Sep 8, 2013, 8:49:02 AM
    Author     : rajgaurav
    Description:
      For common design of all pages in this web application 
*/
body{
 /* background-image: url("../images/bg_slide_1.jpg");
  background-position: top;
  background-attachment: fixed;*/
 background-color: #e6f4f8;
}
#wrapper{
  position: relative;
  padding: 0rem;
  width:90%;
  border: 1px solid red;
  margin: auto;
  background-image:url("../images/greenish_background2.jpg");
}
#heading{
  background-color:#033300;
}
#heading img{
  height:5rem;
  width:auto;
}
#content{
  height: auto;
  min-height: 27rem;
}
#footer{
  background-color: #493409;
  height: auto;
  min-height: 3rem;
  color:white;
  font-size: .8rem;
  padding: 1rem;
}
#footer_menu{
  float: right;
  
}
#footer_menu p{
  display: inline;
  padding: 1rem;
}