/*  Document   : style
    Created on : Sep 8, 2013, 8:49:02 AM
    Author     : rajgaurav
    Description:
      For common design of all pages in this web application 
*/
a{
  text-decoration: none;
  color: white;
}
body{
 background-color: #e6f4f8;
}
#wrapper{
  position: relative;
  padding: 0rem;
  width:90%;
  border: 1px solid red;
  margin: auto;
  background-image:url("../images/greenish_background2.jpg");
}
#heading{
  background-color:#033300;
}
#heading img{
  height:6rem;
  width:auto;
}
#content{
  height: auto;
  min-height: 30rem;
}
#content img{
  width: auto;
  height: 24rem;
  padding: 1rem;
}
#left_content{
  width: 70%;
  float: left;
  
}
#right_content{
  width: 25%;
  float: right;
} 
#login_area{
  border: .3rem solid #f2faf2;
  padding: 1rem;
  margin: 1rem;
}
#login_area h2{
  border: .1rem solid #f2faf2;
  padding: .1rem;
}
#footer{
  background-color: #493409;
  height: auto;
  min-height: 3rem;
  color:white;
  font-size: .8rem;
  padding: 1rem;
}
#footer_menu{
  float: right;
  
}
#footer_menu p{
  display: inline;
  padding: 1rem;
}