/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Jan, 2014, 8:32:51 PM
    Author     : RG
*/
h2{
  //text-align: center;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  margin-bottom: 0;
}
hr{
 // width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;

}
.subheading{
    color: green;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: underline;
}